
@font-face {
    font-family: "Nunito Sans";
    src: url("path/to/NunitoSans-Regular.woff2") format("woff2"),
         url("path/to/NunitoSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("path/to/NunitoSans-Bold.woff2") format("woff2"),
         url("path/to/NunitoSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}




      @font-face {
        font-family: "Yeseva One";
        src: url(Yeseva_One/YesevaOne-Regular.ttf)format('truetype');
      }